PORT=3000
JWT_SECRET=your_jwt_secret_here
FRONTEND_URL=http://localhost:5173
NODE_ENV=development

MONGO_URI=

EMAIL_USER=
EMAIL_PASS=



CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=


TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_VERIFY_SERVICE_SID=
TWILIO_PHONE_NUMBER=